<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="cart">
            <span>Cart({{cart}})</span>
        </div>
        <div class="product">
            <div class="product-image">
                <img :src="image" :alt="altText">
            </div>
            <div class="product-info">
                <h1>{{product}}</h1>
                <p>{{description}}</p>
                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost out of Stock</p>
                <p v-else :class="{lineThrough: !inStock}">Out of Stock</p>
                <span v-show="onSale">On Sale</span>
                <div>
                    <div class="color-box"
                        v-for="variant in variants"
                        :key="variant.id"
                        :style="{backgroundColor: variant.color}"
                        @mouseover="updateProduct(variant.image)"
                        >
                    </div>
                </div>
                <div>
                    <strong>Sizes:</strong>
                    <span v-for="size in sizes">{{size}} </span>
                </div>
                <div>
                    <button v-on:click="addToCart"
                        :disabled="!inStock"
                        :class="{disabledButton: !inStock}">
                        Add to cart
                    </button>
                </div>
                <div>
                    <button v-on:click="removeFromCart">Remove from cart</button>
                </div>
                <p><a :href="link" target="_blank">More products like this</a></p>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="./js/main.js"></script>
</body>
</html>